.fogotpassword{
    height:100%;
    width:100%;
    background: #FFFFFF;
}
h3{
    padding-top:150px;
    color:#3075DC;

    font-size:35px;
}
.form-control{
    height: 30px;
    width: 250px;
    border-radius: 5px;
}
.btn{
    height: 30px;
    width: 100px;
    border: 2px solid #000000;
    border-radius: 5px;
    margin: 20px;
}
.input-group-btn{
    padding-bottom: 150px;

}
.btn-verify{
    background:#4461F2;
}
.navbar-shawdow{
    margin: 150px 400px;
    text-align: center;
    background: #D2D2D2;
    border-radius: 20px;
}