html,
body {
    height: 100vh;
    width: 100%;

}

.header_page {
    height: 15%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0;
}

/*  */
.header_right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.icon_page {
    height: 70px;
    width: 100px;

    background-image: url('../image/abc.jpg');
    background-size: 100% 100%;
}

/*  */
.header_left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

/*  */

.account {
    margin-bottom: 3px;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 0;
}

.img_avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid;
}

.logo {
    padding: 5px;
    margin-left: 70px;
}

.header-right {
    display: flex;
    justify-content: end;
    padding: 5px;
}
.body_page .tab_content .main-detail .card_list_project{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.body_page .tab_content .main-detail .card_list_project .card_project{
    justify-self: start;
    padding-left: 60px;
    padding-bottom: 12px;
    padding-top: 12px;
    font-size: 20px;
}