.list-task-top-detail {

    text-align: center;

}

.list-task-detail {
    display: none;
}

.main-table-btn {
    border-radius: 5px;


    float: right;
}

.bot {
    margin-top: 20px;
}

.list-task-main {
    margin-top: 20px;

}

.add-work {
    margin-bottom: 20px;
    border-radius: 10px;
}

.add-work :hover {
    background-color: dimgray;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;

    width: 50%;
    position: absolute;


    max-height: 100%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.btn-main-list-details {
    float: right;
}

.sub-task-detail-design {
    margin-left: 20px;
}


.add-btn-work {

    margin-left: 83%;
}

.list-task-header {
    border: 1px solid gray;
    font-weight: bold;

}

.sub-task-detail .link-chi-tiet-cong-viec a .chi-tiet {
    border: none;
    font-size: 80%;
    padding-top: 0%;
    padding-bottom: 0%;
    border-radius: 15px;
    background-color: #b7bacb;
    color: white;
}

.sub-task-detail-main .link-chi-tiet-cong-viec a .chi-tiet {
    border: none;
    font-size: 80%;
    padding-top: 0%;
    padding-bottom: 0%;
    border-radius: 15px;
    background-color: #b7bacb;
    color: white;
}

.sub-task-detail .link-chi-tiet-cong-viec a:hover .chi-tiet {
    border: none;
    font-size: 80%;
    padding-top: 0%;
    padding-bottom: 0%;
    border-radius: 15px;
    background-color: #b7bacb;
    color: black;
}

.sub-task-detail-main .link-chi-tiet-cong-viec a:hover .chi-tiet {
    border: none;
    font-size: 80%;
    padding-top: 0%;
    padding-bottom: 0%;
    border-radius: 15px;
    background-color: #b7bacb;
    color: black;
}