body {
    padding: 0;
    margin: 0;
}



.container_content .content_first {
    max-width: 1100px;
    margin: auto;
    width: 100%;
}

.container_content .content_first .content-function {
    display: grid;
    grid-template-columns: 1fr 170px 170px 170px;
    align-items: center;
    text-align: center;
}

.container_content .content_first .content-function .dropdown .btn-secondary {

    border: none;
    color: #000;
}

.container_content .content_first .content-function .function-one a {
    background-color: #D9D9D9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 5px;
    border-radius: 15px;
    color: #000;
}

.container_content .content_first .content-function .function-one a svg {
    width: 22px;
    height: 22px;
}

.container_content .title {
    margin-top: 20px;
    margin-bottom: 30px;
}
.container_content .content_first .table_content .pagination {
    justify-content: end;
}

.my-task-search {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

.my-task-search-name {
    padding-right: 10px;
}

.wap_search {
    display: flex;
}

.pagination {
    justify-content: end;
}