.list-top {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid black;
}

.project-detail {
    padding-top: 10px;
    margin-left: 30px;
}

.list-task-head {
    padding: 20px;
}


.list-task-head a input {
    border-radius: 3px;

}




.top-details {
    width: 100%;
    border: 1px solid black;
    margin: 20px 0px;
    background: aliceblue;
}

.summary-main {
    margin-top: 20px;
    /*background-color: aliceblue;*/
    margin-bottom: 10px;
}

.btn-update {
    margin-left: 10px;
    border-radius: 5px;

}



#image {
    width: 600px;
    border: 1px solid #000000;
}

.summary {
    margin-left: 20%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.test {
    margin-right: 20px;
}