.btn-add-task {
    margin-left: 20px;
    margin-bottom: 20px;
}

.task-cmt-details {
    background: #dbd5d54f;
    margin-top: 20px;
    border-radius: 10px 0 0 10px;
}

.name-avatar {
    padding-right: 20px;
}

.input-cmt {
    width: 500px;
    margin-right: 10px;
}

.task-detail-cmt {
    display: flex;

}

.cmt-details-total {
    margin-left: 40px;
}