.btn-add-task {
    margin-left: 20px;
    margin-bottom: 20px;
}

.task-cmt-details {
    background: #dbd5d54f;
    margin-top: 20px;
    border-radius: 10px;
}

.name-avatar {
    padding-right: 20px;
}

.input-cmt {
    width: 500px;
    margin-right: 10px;
}

.task-detail-cmt {
    display: flex;

}


.img_avatar {

    margin-right: 10px;
}

.task-cmt-details-main {

    display: inline-block;

}
.cmt-details{
    background: lightgray;

    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}